{
  "openapi": "3.0.0",
  "info": {
    "title": "Treza Image Generation",
    "version": "3.0.0",
    "description": "The image product of the Treza API, paid per call with x402 (USDC on Solana mainnet or Base). Snapshot of https://www.trezalabs.com/.well-known/openapi.json."
  },
  "servers": [
    {
      "url": "https://www.trezalabs.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/x402/image": {
      "post": {
        "operationId": "x402GenerateImage",
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "0.02",
            "max": "0.36"
          }
        },
        "summary": "Generate an image on one of seven models, paid with x402",
        "description": "Generates one image from a prompt on the model you pick, square to 21:9 and up to 4K where the model offers it. Each model sells its own aspect ratios and its own price setting (resolution or quality); GET this path with no parameters for every option and price, and read the amount off the 402 challenge. A setting the model does not honour is refused with a 400 rather than silently dropped. Pay via the x402 protocol (HTTP 402): call without payment to receive a 402 challenge carrying the price and networks, sign the payment with an x402-capable wallet, and retry with the payment-signature header. The challenge lists two ways to pay the same amount: USDC on Base (eip155:8453) first, then USDC on Solana mainnet (solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp); a client pays the first one it has a wallet for, and neither needs gas money in the paying wallet. No account, API key, or signup is involved, so the payment is the only credential. A payment presented again after it was redeemed is refused with a 409 (code PAYMENT_ALREADY_REDEEMED). Only the documented fields are read; a request carrying any other field is refused with a 400 before any payment moves.\n\nThe paid call answers 200 at once, with the statusUrl in the X-Status-Url header, then sends a whitespace byte every 2 seconds while it waits (JSON parsers ignore it), and ends with one complete JSON object. Read status in that body: success carries image, the URL of the image; error means it failed, nothing was charged for it, and retryUrl tries again on the wallet balance the payment left, without paying twice; running means it outlasted the wait (45 seconds by default, Prefer: wait=N for up to 720), so poll statusUrl. Send \"async\": true or Prefer: respond-async for an immediate 202 with a statusUrl.",
        "parameters": [
          {
            "name": "Prefer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. respond-async answers 202 at once with a statusUrl to poll, like \"async\": true. wait=N sets how long the call waits, in seconds (default 45, at most 720), before it ends with status running and the statusUrl. Echoed in Preference-Applied."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt"
                ],
                "additionalProperties": false,
                "properties": {
                  "prompt": {
                    "type": "string",
                    "maxLength": 2000,
                    "description": "What the image should show."
                  },
                  "model": {
                    "type": "string",
                    "enum": [
                      "nano-banana",
                      "nano-banana-2",
                      "nano-banana-pro",
                      "gpt-image-2",
                      "seedream-5-pro",
                      "flux-2-pro",
                      "recraft-v4.1"
                    ],
                    "default": "nano-banana",
                    "description": "nano-banana (Google Nano Banana (Gemini 2.5 Flash Image)): Fast, cheap and good at following a prompt. The default. nano-banana-2 (Google Nano Banana 2 (Gemini 3.1 Flash Image)): Sharper than Nano Banana, with a resolution choice up to 4K. nano-banana-pro (Google Nano Banana Pro (Gemini 3 Pro Image)): Google's best image model: legible text in the image, complex scenes, up to 4K. gpt-image-2 (OpenAI GPT Image 2): OpenAI image generation with a quality choice; strong at text and layout. seedream-5-pro (ByteDance Seedream 5.0 Pro): Photoreal detail at 2K by default, or 1K for less. flux-2-pro (Black Forest Labs FLUX.2 Pro): Crisp, photographic FLUX output. Square is the cheapest shape. recraft-v4.1 (Recraft V4.1): Design-minded: illustration, brand graphics and clean compositions."
                  },
                  "aspectRatio": {
                    "type": "string",
                    "enum": [
                      "1:1",
                      "16:9",
                      "9:16",
                      "4:3",
                      "3:4",
                      "3:2",
                      "2:3",
                      "4:5",
                      "5:4",
                      "21:9"
                    ],
                    "default": "1:1",
                    "description": "nano-banana: 1:1, 16:9, 9:16, 4:3, 3:4, 3:2, 2:3, 4:5, 5:4, 21:9. nano-banana-2: 1:1, 16:9, 9:16, 4:3, 3:4, 3:2, 2:3, 4:5, 5:4, 21:9. nano-banana-pro: 1:1, 16:9, 9:16, 4:3, 3:4, 3:2, 2:3, 4:5, 5:4, 21:9. gpt-image-2: 1:1, 16:9, 9:16, 4:3, 3:4, 3:2, 2:3, 21:9. seedream-5-pro: 1:1, 16:9, 9:16, 4:3, 3:4, 3:2, 2:3, 4:5, 5:4, 21:9. flux-2-pro: 1:1, 16:9, 9:16, 4:3, 3:4, 3:2, 2:3, 21:9. recraft-v4.1: 1:1, 16:9, 9:16, 4:3, 3:4."
                  },
                  "resolution": {
                    "type": "string",
                    "enum": [
                      "512",
                      "1K",
                      "2K",
                      "4K"
                    ],
                    "description": "nano-banana-2: 1K, 512, 2K, 4K (default 1K). nano-banana-pro: 1K, 2K, 4K (default 1K). seedream-5-pro: 2K, 1K (default 2K). Refused on the other models."
                  },
                  "quality": {
                    "type": "string",
                    "enum": [
                      "low",
                      "medium",
                      "high"
                    ],
                    "description": "gpt-image-2 only: low, medium (default) or high. Refused on the other models."
                  },
                  "async": {
                    "type": "boolean",
                    "default": false,
                    "description": "true answers 202 at once with a statusUrl to poll."
                  }
                }
              },
              "example": {
                "prompt": "a lighthouse on a sea cliff at golden hour, soft mist, cinematic wide shot",
                "model": "nano-banana",
                "aspectRatio": "1:1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment settled and the response waited for the image. Streamed: the status and headers are sent at once (X-Status-Url carries the statusUrl), then a whitespace byte every 2 seconds, then one complete JSON object. The HTTP status is 200 whatever happened, so read status in the body.",
            "headers": {
              "X-Status-Url": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                },
                "description": "The statusUrl, sent before the image is ready, so a caller whose connection drops can still claim it."
              },
              "Preference-Applied": {
                "schema": {
                  "type": "string"
                },
                "description": "The Prefer value honoured, e.g. wait=120."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "runId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error",
                        "partial",
                        "cancelled",
                        "running"
                      ],
                      "example": "success",
                      "description": "success carries image. error, partial, and cancelled carry the failure fields. running means it is still going; poll statusUrl."
                    },
                    "startedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "finishedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "durationMs": {
                      "type": "integer"
                    },
                    "image": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL of the finished image. Use it exactly as given: its query parameters, including c=, are part of it."
                    },
                    "statusUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "The run's status, now and later. It carries its own signed claim ticket, so it needs no other credential. Use it exactly as given: the runId contains '#', encoded as %23."
                    },
                    "pollAfterMs": {
                      "type": "integer",
                      "description": "Only when status is running: how long to wait before polling statusUrl."
                    },
                    "paidUsd": {
                      "type": "number",
                      "description": "What this request cost."
                    },
                    "model": {
                      "type": "string"
                    },
                    "aspectRatio": {
                      "type": "string"
                    },
                    "resolution": {
                      "type": "string"
                    },
                    "quality": {
                      "type": "string"
                    },
                    "network": {
                      "type": "string",
                      "description": "Where the payment settled: eip155:8453 (Base) or solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp (Solana)."
                    },
                    "transaction": {
                      "type": "string",
                      "description": "The settled payment: a 0x transaction hash on Base, a base58 transaction signature on Solana."
                    },
                    "payer": {
                      "type": "string",
                      "description": "The paying wallet."
                    },
                    "error": {
                      "type": "string",
                      "description": "Failed runs only. What went wrong, in the provider's words."
                    },
                    "reason": {
                      "type": "string",
                      "enum": [
                        "prompt_refused",
                        "render_failed"
                      ],
                      "description": "Failed runs only. prompt_refused: the model declined the prompt, so reword it. render_failed: it did not finish; the same prompt may succeed."
                    },
                    "retryable": {
                      "type": "boolean",
                      "description": "Failed runs only. True until the run's one free retry has been used."
                    },
                    "retryUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "Failed runs only. POST here to try again on the wallet balance, optionally with {\"prompt\": \"...\"} in the body. Carries the same signed ticket."
                    },
                    "message": {
                      "type": "string",
                      "description": "Failed runs only. What happened and what to do, in one sentence."
                    },
                    "balanceUsd": {
                      "type": "number",
                      "description": "Failed runs only. The wallet balance the retry spends."
                    }
                  }
                },
                "example": {
                  "runId": "2026-09-23T18:04:11.000Z#1a2b3c4d",
                  "status": "success",
                  "image": "https://www.trezalabs.com/api/media/generated/x402_image/1a2b3c4d.png?s=...&c=...",
                  "statusUrl": "https://www.trezalabs.com/api/x402/image?runId=...&token=...",
                  "paidUsd": 0.06,
                  "model": "nano-banana",
                  "aspectRatio": "1:1",
                  "transaction": "0x..."
                }
              }
            }
          },
          "202": {
            "description": "Only when the body has \"async\": true or the request carries Prefer: respond-async: payment settled and generation started. Poll statusUrl until status leaves running.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "runId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "running"
                      ]
                    },
                    "statusUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "pollAfterMs": {
                      "type": "integer"
                    },
                    "paidUsd": {
                      "type": "number"
                    },
                    "transaction": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or oversized prompt, a model not on the menu, an aspect ratio or setting that model does not offer, or a field this endpoint does not read. Refused before settlement, so nothing was charged."
          },
          "402": {
            "description": "Payment required: the challenge response carrying x402 payment instructions"
          },
          "409": {
            "description": "This payment was already redeemed (code PAYMENT_ALREADY_REDEEMED). Nothing new was generated or charged; send a new payment to buy another."
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Pay-per-call images is not enabled on this deployment, or is temporarily unavailable."
          }
        }
      },
      "get": {
        "operationId": "x402GetImageRun",
        "summary": "Poll a image bought with an x402 payment, or read the menu",
        "description": "Called with no query parameters, returns the menu: what is on sale, every option and price, and how to buy. With runId and token (the statusUrl the paid POST handed back), returns the run's status and, once finished, image: the file URL. The token is the claim ticket and the only credential needed. Send Prefer: wait=N to hold the answer until it finishes, for up to N seconds (at most 720), streamed like the paid POST. A failed run answers with the provider's error, a reason, and a retryUrl.",
        "parameters": [
          {
            "name": "runId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Required to poll a run. Omit both this and token to get the menu."
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Signed claim ticket from the paid POST. Required to poll a run."
          },
          {
            "name": "Prefer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. wait=N holds the answer until the run finishes, for up to N seconds (at most 720)."
          }
        ],
        "responses": {
          "200": {
            "description": "Run status plus image once it has finished; or, with no query parameters, the menu.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "runId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error",
                        "partial",
                        "cancelled",
                        "running"
                      ],
                      "example": "success",
                      "description": "success carries image. error, partial, and cancelled carry the failure fields. running means it is still going; poll statusUrl."
                    },
                    "startedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "finishedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "durationMs": {
                      "type": "integer"
                    },
                    "image": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL of the finished image. Use it exactly as given: its query parameters, including c=, are part of it."
                    },
                    "statusUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "The run's status, now and later. It carries its own signed claim ticket, so it needs no other credential. Use it exactly as given: the runId contains '#', encoded as %23."
                    },
                    "pollAfterMs": {
                      "type": "integer",
                      "description": "Only when status is running: how long to wait before polling statusUrl."
                    },
                    "paidUsd": {
                      "type": "number",
                      "description": "What this request cost."
                    },
                    "model": {
                      "type": "string"
                    },
                    "aspectRatio": {
                      "type": "string"
                    },
                    "resolution": {
                      "type": "string"
                    },
                    "quality": {
                      "type": "string"
                    },
                    "network": {
                      "type": "string",
                      "description": "Where the payment settled: eip155:8453 (Base) or solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp (Solana)."
                    },
                    "transaction": {
                      "type": "string",
                      "description": "The settled payment: a 0x transaction hash on Base, a base58 transaction signature on Solana."
                    },
                    "payer": {
                      "type": "string",
                      "description": "The paying wallet."
                    },
                    "error": {
                      "type": "string",
                      "description": "Failed runs only. What went wrong, in the provider's words."
                    },
                    "reason": {
                      "type": "string",
                      "enum": [
                        "prompt_refused",
                        "render_failed"
                      ],
                      "description": "Failed runs only. prompt_refused: the model declined the prompt, so reword it. render_failed: it did not finish; the same prompt may succeed."
                    },
                    "retryable": {
                      "type": "boolean",
                      "description": "Failed runs only. True until the run's one free retry has been used."
                    },
                    "retryUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "Failed runs only. POST here to try again on the wallet balance, optionally with {\"prompt\": \"...\"} in the body. Carries the same signed ticket."
                    },
                    "message": {
                      "type": "string",
                      "description": "Failed runs only. What happened and what to do, in one sentence."
                    },
                    "balanceUsd": {
                      "type": "number",
                      "description": "Failed runs only. The wallet balance the retry spends."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of runId and token was given without the other. The runId contains '#', so a hand-built URL must encode it as %23."
          },
          "403": {
            "description": "Invalid, expired, or mismatched token"
          },
          "404": {
            "description": "Run not found"
          }
        }
      }
    },
    "/api/x402/image/retry": {
      "post": {
        "operationId": "x402RetryImageRun",
        "summary": "Generate a failed image again, without paying twice",
        "description": "A image that failed after the payment settled charged nothing, so the payment is still on the wallet's balance. POST here with the failed run's claim ticket to try again on that balance, with the same settings it was sold with. Send {\"prompt\": \"...\"} to reword it (the fix for prompt_refused), or no body to use the original. Each failed run can be retried once. Waits and streams like the paid POST; \"async\": true or Prefer: respond-async answers 202 at once.",
        "parameters": [
          {
            "name": "runId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The failed run, from its status response."
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Signed claim ticket. The retryUrl carries both."
          },
          {
            "name": "Prefer",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional. respond-async answers 202 at once with a statusUrl to poll, like \"async\": true. wait=N sets how long the call waits, in seconds (default 45, at most 720), before it ends with status running and the statusUrl. Echoed in Preference-Applied."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "maxLength": 2000,
                    "description": "A reworded input. Omit to use the original."
                  },
                  "async": {
                    "type": "boolean",
                    "default": false,
                    "description": "true answers 202 at once with a statusUrl to poll."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The retry started and the response waited for it, streamed the same way as the paid POST. Same shape as the paid POST 200, plus retryOf and paidUsd 0."
          },
          "202": {
            "description": "Only with \"async\": true or Prefer: respond-async: the retry started."
          },
          "400": {
            "description": "runId and token are required, or the prompt sent is empty or too long"
          },
          "402": {
            "description": "The wallet balance does not cover this retry; the body carries balanceUsd, priceUsd, and payUrl for a new paid request"
          },
          "403": {
            "description": "Invalid, expired, or mismatched token"
          },
          "404": {
            "description": "Run not found, or the ticket is not for a pay-per-call images run"
          },
          "409": {
            "description": "The run is still going, finished successfully, or has already been retried"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Pay-per-call images is temporarily unavailable"
          }
        }
      }
    }
  }
}
